{% extends "base.html.twig" %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <main>
        <div class="two-col-grid one-to-two">
            <ul class="kmom-links">
                <li class="card"><a class="button" href="#kmom01">kmom01</a></li>
                <li class="card"><a class="button" href="#kmom02">kmom02</a></li>
                <li class="card"><a class="button" href="#kmom03">kmom03</a></li>
                <li class="card"><a class="button" href="#kmom04">kmom04</a></li>
                <li class="card"><a class="button" href="#kmom05">kmom05</a></li>
                <li class="card"><a class="button" href="#kmom06">kmom06</a></li>
                <li class="card"><a class="button" href="#kmom07-10">kmom07/10</a></li>
            </ul>

            <article id="kmom01" class="card">
                <h2>kmom01</h2>
            </article>
        </div>
    </main>
{% endblock %}