@media (max-width: 864px) {
    .dice {
        font-size: 142px;
    }
}

@media (max-width: 768px) {
    nav.primary {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    .two-col-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 512px) {
    .flex-row {
        flex-direction: column;
        align-items: center;
    }

    .space-between {
        justify-content: flex-start;
    }
}