$font-color: #333333;
$nav-link-color: #A3B364;
$mobile-nav-background: #333333;
$header-background: #FFFFFF;
$header-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
$body-background: #F2F5EF;
$button-background: #72895B;
$button-color: #FFFFFF;
$dice-color: #A3B364;
$combination-color: #72895B;