<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>MVC | {% block title %}{% endblock %}</title>

        <link rel="icon" href="{{ asset("img/favicon.png") }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags("app") }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags("app") }}
        {% endblock %}
    </head>

    <body>
        <header>
            <h1>
                <a href="/"><i class="fa-regular fa-circle-user"></i> MVC</a>
            </h1>

            <nav id="primary-nav" class="primary">
                {% include "nav.html.twig" %}
            </nav>

            <div id="nav-toggle" class="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>

        <nav id="mobile-nav" class="mobile">
            {% include "nav.html.twig" %}
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>
