<ul>
    <li><a href="{{ path('home_page') }}">Hem</a></li>
    <li><a href="{{ path('about_page') }}">Om kursen</a></li>
    <li><a href="{{ path('report_page') }}">Redovisning</a></li>
    <li><a href="{{ path('lucky_page') }}">Lucky</a></li>
</ul>